.header {
  .container {
    background-image: url("../../../single/assets/imgs/background.png");
    background-repeat: no-repeat;
    background-position: center 0;

    @include flex(row, space-between, center, nowrap);
    padding-top: 3rem;
  }

  &-title {
    a {
      display: block;
      @include font(Georgia, normal, 400, 3.2rem, 110%, 0.06em, $light-brown);
      margin-bottom: 1rem;
    }

    p {
      @include font(Arial, normal, 400, 1.3rem, 1.5rem, 0.1em, $white-color);
    }
  }
  @media screen {
  }
}

.nav {
  &-list {
    @include flex(row, space-between, center, nowrap);
    gap: 3.5rem;

    &__item {
      a {
        @include font(Arial, normal, 400, 1.5rem, 160%, 0, $white-grey-color);
      }
    }
  }

  @media (width < 768px) {
    position: fixed;
    background-color: red;
    top: 5rem;
    right: calc(0 );

    &-list {
      @include flex(column, space-between, center, nowrap);
    }

  }
}

.hamburger {
  @media (width >= 768px) {
    display: none;
  }

  .line {
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }
}

.is-active {
  margin-top: 45px;
  margin-right: 54px;
  width: 30px;
  height: 30px;
}

.is-active .line:nth-child(2) {
  -webkit-transform: translateY(4px) rotate(90deg);
  -ms-transform: translateY(4px) rotate(90deg);
  -o-transform: translateY(4px) rotate(90deg);
  transform: translateY(4px) rotate(90deg);
}

.is-active .line:nth-child(1) {
  -webkit-transform: translateX(10px) translateY(14px) rotate(90deg);
  -ms-transform: translateX(10px) translateY(14px) rotate(90deg);
  -o-transform: translateX(10px) translateY(14px) rotate(90deg);
  transform: translateX(10px) translateY(14px) rotate(90deg);
  margin: 0 0 0 0;
}

.is-active .line:nth-child(3) {
  -webkit-transform: translateX(-10px) translateY(-6px) rotate(-90deg);
  -ms-transform: translateX(-10px) translateY(-6px) rotate(-90deg);
  -o-transform: translateX(-10px) translateY(-6px) rotate(-90deg);
  transform: translateX(-10px) translateY(-6px) rotate(-90deg);
  margin: 0 0 0 0;
}
