.popup {
  background-color: $dark-transparent-color;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  @include flex(column, center, center, nowrap);

  &-container {
    width: 90rem;
    background-color: $light-white-color;
    height: 50rem;
    border-radius: $r9;
    @include flex(row, flex-start, stretch, nowrap);
    gap: 3rem;
    padding-right: 2rem;
  }
  &-img {
    img {
      height: 100%;
      border-radius: $r9;
    }
  }

  &-description {
    // max-width: 10.2rem;

    &__title {
      @include font(Georgia, normal, 400, 3.5rem, 130%, 0.06em, $dark-color);
      margin-block: 5rem 1rem;
    }

    &__breed {
      @include font(Georgia, normal, 400, 2rem, 115%, 0.06em, $dark-color);
      margin-bottom: 4rem;
    }

    &__text {
      @include font(Georgia, normal, 400, 1.5rem, 110%, 0.06em, $dark-color);
      margin-bottom: 4rem;

    }
    &-list-item {
      list-style-type: disc;
      margin-bottom: 1.1rem;
      span:first-child {
        @include font(Georgia, normal, 700, 1.5rem, 110%, 0.06em, $dark-color);
      }
      span:last-child {

        @include font(Georgia, normal, 400, 1.5rem, 110%, 0.06em, $dark-color);
      }
    }
  }
}

.popup--notActive {
  display: none;
}
