@mixin flex($flex-direction, $justify-content, $align-items, $flex-wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin font(
  $font-family,
  $font-style,
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing,
  $color
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

// BLOCKS

@mixin container {
  max-width: 128rem;
  padding-inline: 4rem;
  margin: 0 auto;

  @media (width < 1280px) {
    padding-inline: 3rem;
  }

  @media (width < 768px) {
    padding-inline: 2rem;
  }
}

@mixin title($text-align) {
  @include font(Georgia, normal, 400, 3.5rem, 130%, 0, $dark-grey-color);
  text-align: $text-align;
  @media (width < 768px) {
    font-size: 2.5rem;
  }
}

@mixin card {
  @include flex(column, flex-start, center, nowrap);
  gap: 3rem;
  border-radius: $r9;
  background-color: $light-white-color;
  padding-bottom: 3rem;

  &__title {
    @include font(Georgia, normal, 400, 2rem, 2.3rem, 0.06em, $dark-grey-color);
  }
  &__button {
    @include emptyButton;
  }
}

// BUTTONS

@mixin button {
  border-radius: $r100;
  @include font(Georgia, normal, 400, 1.6rem, 130%, 0.06em, $white-color);
  padding: 1.5rem 4.5rem;
  color: $dark-color;
  background-color: $light-brown;
  text-align: center;
  &:hover {
    background-color: $more-light-brown;
  }
}

@mixin emptyButton {
  @include button;
  background-color: inherit;
  border: 2px solid $light-brown;
  &:hover {
    border-color: $more-light-brown;
  }
}

@mixin roundButton {
  width: 5.2rem;
  height: 5.2rem;
  border: 0.2rem solid $light-brown;
  border-radius: 50%;
  @include font(Georgia, normal, 400, 2rem, 2.3rem, 0.06em, $dark-grey-color);
  text-align: center;

  &:hover {
    background-color: $light-brown;
  }
}

@mixin roundButtonNotActive {
  border-color: $white-grey-color;
  color: $white-grey-color;
  cursor: default;
  &:hover {
    background: none;
  }
}
