// COLORS
$light-brown: #F1CDB3;
$more-light-brown: #FDDCC4;
$white-color: #FFFFFF;
$dull-white-color: #F6F6F6;
$light-white-color: #FAFAFA;
$white-grey-color: #CDCDCD;
$dark-color: #292929;
$dark-grey-color: #545454; // используем где 4с4с4с
$dark-transparent-color: rgba(41, 41, 41, 0.6);


// RADIUS
$r9: .9rem;
$r100: 10rem;